/* -------------css for small screens----------- */
nav .fas{
    display: none;
}

@media only screen and (max-width: 450px){
    .work-list{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .work{
        height: 400px;
    }

    /*.layer p{
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }*/
}

@media only screen and (max-width: 600px){
    .grid-container{
        display: block;
        position: relative;
        width: 100%;
        padding-top: 80%;
    }
    #images-grid{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

@media only screen and (max-width: 750px){
    #movable-nav{
        display: block;
        background: none;
        animation: hideAppear 1.5s;
    }
    #menu-button{
        display: block;
        background: none;
        border: none;
        cursor: pointer;
    }
    .menu-toggle-line{
        display: block;
        width: 20px;
        height: 3px;
        margin-bottom: 2.5px;
        position: relative;
        background: #fff;
        border-radius: 3px;
        transition: all 1s;
    }
    
    #movable-nav ul{
        display: grid;
        grid-auto-columns: 100vw;   
        align-items: center;
        justify-items: center;
        padding-top: 5vh;
        padding-bottom: 10vh;
        background: linear-gradient(#142e68, #145068);
        position: fixed;
        top: 0;
        right: 100vw;
        height: 100vh;
        transition: all 1s;
    }
    .nav-item{
        display: flex;
        padding: 5vh 20vw;
        
    }
    .nav-item a:hover::after{
        width: 0;
    }
    .nav-item + .nav-item{  
        border-top: 1px solid rgba(255, 255, 255, 0.5);
    }
    .nav-item a{
        font-size: 3vh;
    }
    #movable-nav .fas{
        display: block;
        font-size: 25px;
        margin-right: -15px;
    }
    #movable-nav ul .fas{
        position: absolute;
        top: 15px;
        right: 35px;
        cursor: pointer;
    }
    #return-up a i{
        color: #fff;
    }
    #return-up a i:hover{
        transform: none;
        color: #fff;
    }

    .header-grid{
        margin-top: 0;
        row-gap: 50px;
    }
    .header-text{
        font-size: 4.5vw !important;
    }
    .header-text h1 span{
        font-size: 10vw !important;
    }

    .sub-title h1{
        font-size: 30px;
    }
    .about-col-1{
        display: none;
    }
    .about-col-2{
        flex-basis: 100%;
        font-size: 14px;
    }
    .sub-title{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .title-col-1{
        flex-basis: 60%;
    }
    .title-col-2{
        display: block;
        flex-basis: 35%;
    }
    .title-col-2 img{
        width: 100%;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .contact-left p span{
        font-size: 16px;
    }
    .copyright{
        font-size: 14px;
    }
}

@media only screen and (max-width: 800px){
    .lang-txt.en.display{
        display: none;
    }
    .lang-txt.it.display{
        display: none;
    }
    .lang-img.it.display, .lang-img.en.display{
        display: block;
    }

    #navbar div img{
        width: 30px;
        opacity: 0.8;
    }
}    

@media only screen and (max-width: 950px){
    .contact-left p{
        font-size: 12px;
    }
}

@media only screen and (max-width: 1350px){
    .header-grid{
        grid-template-columns: auto;
        height: fit-content;
    }
    .header-text{
        margin-top: 10vh;
        font-size: 25px;
    }
    .header-text h1 span{
        font-size: 50px;
    }
}

@media only screen and (max-width: 1450px) {
    .see-more-btn.display, .see-less-btn.display{
        display: none;
    }
    .see-more, .see-more.display{
        display: block;
    }
}